    
    
    
    body
    {
        height:100vh;
        background: linear-gradient(100deg,#E94560 50%, #FFBD69  50%);
        overflow-wrap:break-word;
        font-family: 'Comic Neue', cursive; 
    }

    .container, #Title-button
    {
        display:flex;
        word-spacing:3px;
    }

    .left-side
    {
        float:left;
        width:50%;
        padding-left:17%;

    }
    h1,h3
    {
        text-decoration:underline;
        padding-bottom:15px;
        text-align:center;
    }
    .bio
    {
        position:absolute;
        right:55%;
        top:16%;
        letter-spacing:3px;
        word-spacing:4px;
    }

    #Hobbies
    {
        position:relative;
        top:5%;
        left:8%;
        letter-spacing:3px;
        word-spacing:3px;
    }
    a
    {
        text-decoration:none; 
    }

   #Go-back
    {
        position:relative;
        right:89%;
        font-size:35px;
        color:black;
    }
    .right-side
    {
        float:right;
        width:50%;
        color:white;
        padding-top:1px;
    } 

    #Github-page, #Contact-page, #About-page, #Blog-page
    {
        text-decoration:none;
        border-left:1px solid white;
        color:mediumpurple;
        padding-left:10px;
        padding-right:5px;
    }

    .description
    {
        display:flex;
        margin-bottom:65px;
        font-size:25px;
        border-left:4px solid rgb(177, 255, 177);
        padding-left:20px;
        position:relative;
        left:20px;
    }

    #line
    {
        border-bottom:2px dashed black;
        margin-bottom:10px;
        margin-top:15px;
    }
    
    .foot
    {
        background-color:#E94560;
        text-align: center;
        color:white;
        position:relative;
        top:120px;
        letter-spacing:3px;
        word-spacing:3px;
        text-transform:uppercase;
    }

    @media only screen and (max-width:750px)
    {
        .container, #Title-button
        {
            display:flex;
            word-spacing:3px;
        }

        .left-side
        {
            float:left;
            width:50%;
            padding-left:17%;

        }
        h1,h3
        {
            text-decoration:underline;
            padding-bottom:15px;
            text-align:center;
        }
        .bio
        {
            position:absolute;
            right:60%;
            top:13%;
            letter-spacing:2px;
            word-spacing:2px;
        }

        #Hobbies
        {
            position:relative;
            top:3%;
            left:18%;
            letter-spacing:3px;
            word-spacing:3px;
        }
        a
        {
            text-decoration:none; 
        }

        #Go-back
        {
            position:relative;
            bottom:30%;
            right:210px;
            font-size:37px;
            color:black;
        }
        .right-side
        {
            float:right;
            width:50%;
            color:white;
            padding-top:1px;
        } 

        #Github-page, #Contact-page, #About-page, #Blog-page
        {
            text-decoration:none;
            border-left:1px solid white;
            color:mediumpurple;
            padding-left:10px;
            padding-right:5px;
        }

        .description
        {
            position:relative;
            margin-bottom:65px;
            font-size:18px;
            border-left:4px solid rgb(177, 255, 177);
            padding-left:15px;
            right:60px;
        }

        #line
        {
            border-bottom:2px dashed black;
            margin-bottom:10px;
            margin-top:15px;
        }
        
        .foot
        {
            text-align: center;
            color:white;
            position:relative;
            top:120px;
            letter-spacing:3px;
            word-spacing:3px;
            text-transform:uppercase;
        }
    }
