    body 
    {
        background: linear-gradient(90deg,#E94560 50%, #FFBD69  50%);    
        font-family: 'Comic Neue', cursive; 
        
    }
    
    .ContactForm
    {
        padding-top: 5px;
        display:flex;
    }

    .left-side
    {
        width:50%;
        float:left;
        text-align:center;
        word-spacing: 3px;
    }
    .right-side
    {
        width:50%;
        float:right;
        word-spacing: 3px;
        text-align: center;
    }
    
    #Go-back
    {
        position:relative;
        display:flex;
        bottom:60px;
        left:5%;
        font-size:35px;
        color:black;
        cursor: pointer;
    }
    
    u
    {
        text-decoration:none;
        border-bottom: 3px solid #000;
        padding-bottom: 4px;   
    }

    .text
    {
        font-size:100px;
        text-align:center;
    }

    #text-1
    {
        position:absolute;
        left:22%;
        bottom:40%;
    }

    #text-2
    {
        position:absolute;
        bottom:40%;
        padding-left:20px;
        color:white;
    }

    #text-3
    {
        position:absolute;
        font-size:40px;
        bottom:25%;
        padding-left:130px;  
    }
    #text-4
    {
        position: absolute;
        font-size:40px;
        bottom:25%;
        right:32%; 
        color:white;
        
    }
    #Github-page, #About-page, #Blog-page
    {
        text-decoration:none;
        border-left:1px solid white;
        color:mediumpurple;
        padding-left:10px;
        padding-right:5px;
    }
    .foot
    {
        background-color:#E94560;
        text-align: center;
        color:white;
        margin-top:45%;
        padding-bottom:1px;
        text-transform:uppercase;
        letter-spacing:3px;
        word-spacing:3px;
    }

    @media only screen and (max-width:700px)
    {

        .form-1
        {
            width:50%;
            float:left;
            text-align:center;
            word-spacing: 1px;
        }
        .form-2
        {
            width:50%;
            float:right;
            word-spacing: 1px;
            text-align: center;
        }
        
        .ContactForm
        {
            padding-top: 5px;
            display:flex;
        }
        
        #Go-back
        {
            position:relative;
            display:flex;
            bottom: 45px;
            left:5%;
            font-size:35px;
            color:black;
            cursor: pointer;
        }
        u
        {
            text-decoration:none;
            border-bottom: 3px solid #000;
            padding-bottom: 4px;   
        }

        .text
        {
            position:relative;
            left:53%;
            font-size:56px;
            text-align:center;

        }

        #text-1
        {
            position:absolute;
            left:17%;
            bottom:40%;
        }

        #text-2
        {
            position:absolute;
            bottom:40%;
            padding-left:20px;
            color:white;
        }

        #text-3
        {
            position:absolute;
            font-size:42px;
            bottom:25%; 
            left:7%;
        }
        #text-4
        {
            position: absolute;
            font-size:40px;
            bottom:25%;
            right:20%; 
            color:white;
            
        }
        #Github-page, #About-page, #Blog-page
        {
            text-decoration:none;
            border-left:1px solid white;
            color:mediumpurple;
            padding-left:10px;
            padding-right:5px;
        }
    
        .foot
        {
            background-color:#E94560;
            text-align: center;
            color:white;
            position:relative;
            top:148px;
            text-transform:uppercase;
            font-size:15px;
        }
